<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | MeNotaAi.Cloud</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MeNotaAi.Web.styles.css" asp-append-version="true" />

    <style>
/*         .container {
            padding: 1rem;
        } */

        .navbar-layout {
            text-align: center !important;
            box-shadow: 1px 1px rgba(0,0,0, 0.2);
        }

        .navbar-layout p {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 1.2rem;
            font-weight: bold;
            color: #0D6EFD;
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar-layout">
            <div class="container">
                <p>Me Nota Ai - Cloud Run</p>
@*                 <a class="navbar-brand" asp-area="" asp-page="/Index">MeNotaAi.Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Visitantes/Index">Visitantes</a>
                        </li>
                    </ul>
                </div> *@
            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
@*         <main role="main" class="pb-3">
            
        </main> *@
    </div>

@*     <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - MeNotaAi.Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>